:root {
    --main-color: #222831;
    --secondary-color: #2d4059;
    --terciary-color: #ff5722;
    --background-color: #eeeeee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    width: 100vw;
}

.body {
    width: 100%;
}

.header {
    background-color: var(--secondary-color);
    color: var(--terciary-color);
}

.main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-h1 {
    width: 75%;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
}

.h1 {
    font-size: 2.6rem;
    text-align: center;
}

/* Form */

.form {
    position: relative;
    margin-top: 100px;
    width: 90%;
    max-width: 800px;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container-h2 {
    border-bottom: 2px solid var(--secondary-color);
}

.h2 {
    font-size: 2rem;
}

.field-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.label {
    align-self: flex-start;
    font-size: 1.5rem;
}

.input {
    width: 100%;
    height: 40px;
    max-width: 800px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: transparent;
}



/* Footer */

.footer {
    width: 100vw;
    height: 50vh;
    /* max-height: 200px; */
    background-color: var(--secondary-color);
    position: absolute;
}

.footer-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: space-evenly;
    align-items: center;

}

.footer a {
    color: var(--terciary-color);
    text-decoration: none;
    cursor: pointer;
}

.footer-container-p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--background-color);
    text-align: center;
}

.footer-list-container {
    margin-top: 20px;
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.footer-list-item {
    list-style: none;
}